<!-- form_autor.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Autor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100">
    <nav class="bg-red-500 p-4 shadow-lg">
      <div class="container mx-auto flex justify-between items-center">
        <h1>
          <a
            href="{% url 'home' %}"
            class="text-white hover:text-gray-200 transition-colors font-bold"
            >UADER - Biblioteca</a
          >
        </h1>
        <ul class="flex space-x-4">
          <li>
            <a
              href="{% url 'home' %}"
              class="text-white hover:text-gray-200 transition-colors"
              >Home</a
            >
          </li>
          <li>
            <a
              href="{% url 'nuevo_libro' %}"
              class="text-white hover:text-gray-200 transition-colors"
              >+ Libro</a
            >
          </li>
          <li>
            <a
              href="{% url 'nueva_editorial' %}"
              class="text-white hover:text-gray-200 transition-colors"
              >+ Editorial</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="max-w-lg mx-auto mt-10">
      <h2 class="text-2xl font-bold mb-5 text-center text-gray-500">
        Nuevo Autor
      </h2>
      <form
        method="post"
        action="{% url 'nuevo_autor' %}"
        class="bg-white p-6 rounded-lg shadow-lg"
      >
        {% csrf_token %} {{ form.as_p }}
        <button
          type="submit"
          class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>